<div>
	<h1 ng-if="!authService.isLoggedin()">Your Javascript, React, Angular and CSS links</h1>
	<h2 ng-if="authService.isLoggedin()">Wellcome, {{authService.getUserProfile().name}}</h2>
	<br>
	<div class="order-by-menu" >
		<span ng-class="{ 'selected': params.feedOrderedBy == 'rating'}" ui-sref="feed({orderBy: 'rating'})">By rating</span>
		<span ng-class="{ 'selected': params.feedOrderedBy == 'date'}" ui-sref="feed({orderBy: 'date'})">By date</span>

	</div>
	<br>
	<p class="faded" ng-if="data">
		Showing items from 
		<span ng-if="params.page == 0">the last 7 days.</span>
		<span ng-if="!params.page == 0">{{data.date_from}} to {{data.date_to}}.</span>
	</p>

	<div class="item" ng-repeat="item in data.items">
		<div class="circle">
			<i class="fa fa-circle"></i>
		</div>
		<div class="publisher-avatar-container">
			<img ng-src="{{item.picture}}" />
		</div>
		<div class="item-details">
			<a href="{{item.url}}" target="_blank">{{item.title}}</a>
			<p>via {{item.name}} | {{item.time_elapsed}}</p>
		</div>

		<div class="right votes" ng-click="vote(item)">
			{{item.votes}}
			<i ng-hide="item.user_has_voted" class="fa fa-thumbs-o-up"></i>
			<i ng-show="item.user_has_voted" class="fa fa-thumbs-up"></i>
		</div>
		<div class="clear"></div>
		<!-- <div ng-if="isAdmin">
			<br>
			<button>plus</button>
			<button>minus</button>
		</div> -->
	</div>
	<br>
	<div class="loading-spinner" ng-if="busy">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
	</div>
	<br>
	<div  ng-if="data" class="large-button load-more-button" ui-sref="feed({orderBy: params.feedOrderedBy, page: params.page + 1})">Previous 7  days</div>


</div>