<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>JS-Craft - Front end development news</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<base href="/js-craft-app/">


	<link rel="shortcut icon" href="assets/logo.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="dist/style.css">


</head>
<body ng-controller="appCtrl" >

	<header>
		<span class="logo" ui-sref="feed({orderBy: 'rating', page: 0})">
			<span class="jc">JC</span>
			<span class="text">JS-Craft</span>
		</span>

		<span class="menu-controls">
			<a ui-sref="add">+ add item</a> |
			<a ui-sref="login" ng-if="!authService.isLoggedin()">login</a>
			<img ng-if="authService.isLoggedin()" class="user-avatar" ng-src="{{authService.getUserProfile().picture}}">
			<a ui-sref="logout" ng-if="authService.isLoggedin()">logout</a>
		</span>
	</header>

	<main>
		<div ui-view class="content"></div>
	</main>

	<footer>
		<div class="centered-content">
			<div class="footer-left-container"						
				<p>
					<a href="#">Home</a>
					<a ui-sref="blog">Blog</a>
					<a ui-sref="about">About</a>
					<a ui-sref="contact">Contact</a>
				</p>
				<br>
				<p>
					Sign up to our newsltter to recive the best Angular news and tutorials.
				</p>
				<newsletter-widget></newsletter-widget>
				
			</div>
			<div class="footer-devider">
			</div>
			<div class="footer-right-container">
				<p>
					<img src="./assets/daniel.png">
					<strong>Wellcome to JS-Craft</strong> <br>
					JS-Craft is a community of people working or interested in Javascript, React JS, Angular or CSS . Published and curated by Daniel Nastase.
				</p>
			</div>
			<div class="clear"></div>
		</div>
	</footer>


	<script type="text/javascript" src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
	<script src="http://cdn.auth0.com/w2/auth0-6.7.js"></script>

	<script type="text/javascript" src="dist/templates.js"></script>
	<script type="text/javascript" src="dist/app.min.js"></script>
	<!-- <script type="text/javascript" src="build/app.js"></script> -->


<script type="text/javascript">
    var _mfq = _mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/13e808f1-b150-4051-b886-bc3f8a93e928.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
</script>


	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-97379312-1', 'auto');
	  ga('send', 'pageview');

	</script>




</body>
</html>