<div class="newsletter-widget">
	<form name="newsletterSubscribeForm">
		<input 
			ng-model="subscriberEmail" 
			name="subscriberEmail" 
			placeholder="Email address"  
			required type="email"
			ng-class="{'error': newsletterSubscribeForm.subscriberEmail.$invalid && newsletterSubscribeForm.subscriberEmail.$touched}" >
		<div class="subscribe-button" ng-click="newsletterSubscribe()">Subscribe</div>
	</form>
	<div class="clear"></div>
</div>