<div>
	<h2>Add a new item</h2>
	<br>
	<br>
	<form name="newItemForm" novalidate>
		<input ng-class="{'error': newItemForm.inputTitle.$invalid && newItemForm.inputTitle.$touched}" 
				type="text" 
				name="inputTitle" 
				required ng-minlength="10" 
				ng-model="newItem.title" 
				placeholder="Title ..."></input>
		<span class="error" ng-show="newItemForm.inputTitle.$invalid && newItemForm.inputTitle.$touched">Please set a valid title (min 10 characters)</span>

		<br>
		<br>


		<input ng-class="{'error': newItemForm.inputUrl.$invalid && newItemForm.inputUrl.$touched}" 
				type="url"
				name="inputUrl" 
				required
				ng-model="newItem.url" 
				placeholder="URL  ..."></input>
		<span class="error" ng-show="newItemForm.inputUrl.$invalid && newItemForm.inputUrl.$touched">Please input a valid URL</span>


		<span class="error" ng-show="itemAlreadyExistingError">This item was already posted by you or another user !</span>
		<div ng-if="isAdmin">
			<br><br><br>
			<button ng-click="newItem.nrVoturi = newItem.nrVoturi + 1" class="fa fa-plus-circle form-link"></button> 
			<span class="fa form-link">{{newItem.nrVoturi || 0}} vote</span> 
			<button ng-click="newItem.nrVoturi > 0 ? newItem.nrVoturi = newItem.nrVoturi - 1 : 0" class="fa fa-minus-circle form-link"></button> 

			<br>
			Bott
			<br>
			<select ng-model="newItem.botId" name="bot" id="bot">
				<option ng-repeat="bot in bots" value="{{bot.id}}">{{bot.name}}</option>
			</select>

			<br>
			Ore delay
			<br>
			<select ng-model="newItem.oreDelay" name="ore" id="ore">
				<option ng-repeat="ora in oreDelay" value="{{ora.value}}">{{ora.label}}</option>
			</select>

			<br>
			Zile delay
			<br>
			<select ng-model="newItem.zileDelay" name="zile" id="zile">
				<option ng-repeat="zi in zileDelay" value="{{zi.value}}">{{zi.label}}</option>
			</select>
		</div>
		<br>
		<br>

		<div class="large-button login-with-twitter" ng-click="addItem()">Add item</div>


		<a ng-if="isAdmin" href="javascript:function iprl5(){
						var url = 'http://localhost/js-craft-app/#/add?';
						url+= 'addlocation=' + encodeURIComponent(document.location);
						url+='&addtitle=' + encodeURIComponent(document.title);
						window.location.replace(url);
					}
					iprl5();void(0)" 
		class="large-button  login-with-twitter" style="background-color: #aaa">Save to JsCraft</a>


	</form>
</div>