<div>
	<h2>Login to vote or post new items</h2>
	<br>
	<br>
	<div class="large-button login-with-gmail" ng-click="loginWithGoogle()">Login with gmail</div>
	<br>
	<br>
	<div class="large-button login-with-twitter" ng-click="loginWithTwitter()">Login with twitter</div>
</div>
