/***********************************************
GENERAL STUFF 
***********************************************/

* {
	font-family: Source Sans Pro, sans-serif;
}


html {
	min-height: 100%;
	position: relative;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #F1F1F1;
}

p {
	line-height: @u;
	font-size: @u * 0.8;
	margin: 0px;
}


.loading-spinner {
	color: @colorBlue;
	text-align: center;
	padding-top: @u * 4;
}

.right {
	display: inline-block;
	float: right;
}

.clear {
	clear: both;
}

/***********************************************
MEDIA QUERY
***********************************************/

@media all and (min-width: 380px) {

	h2 {
		margin: auto;
	}
}


@media all and (min-width: 600px) {
}

@media only screen and (min-width: 1000px) {
}