/***********************************************
FOOTER
***********************************************/

footer {
	background-color: @colorBlue;
	color: #fff;
	border-top: 1px solid @colorBoderGrey;
	position: absolute;
    left: 0;
    bottom: 0;
	height: @u * 8;
	width: 100%;
	padding-bottom: @u;

    a {
    	display: inline-block;
    	margin-right: @u;
    	color: #fff;
    	text-decoration: underline;
    }

    .footer-left-container {
    	float: left;
    	display: inline-block;
    	text-align: center;
    	width: 100%;
    }

    .footer-devider {
    	display: none;
    }

    .footer-right-container {
    	display: none;
    }

     .centered-content {
	 	margin: 0 auto;
	 	padding: @u;
	 }


	 .newsletter-widget {
		background-color: #fff;
		padding: 2px;
		margin-top: @u / 2;
		width: 100%;

		input, div.subscribe-button {
			height: @u * 2;
			line-height: @u * 2;
			font-size: @u * 0.8;
			display: inline-block;
		}

		input {
			padding: 0px @u / 2;
			border: none;
			margin: 0px 0px 0px 2px;
			display: inline-block;
			width: ~"calc(100% - 170px)";
			float: left;
			outline: 1px dashed #fff;
		}

		input.error {
			color: #f00;
			border:none;
		}


		div.subscribe-button {
			float: right;
			width: @u * 5;
			text-align: center;
			background-color: @colorBlue;
			cursor: pointer;

			&:hover {
				background-color:@colorBlueHover;
			};
		}

	}
	   	
}


/***********************************************
MEDIA QUERY
***********************************************/

@media all and (min-width: 380px) {
	div.subscribe-button {
		width: @u * 7 !important;
	}
}



@media all and (min-width: 600px) {
	footer {
		div.subscribe-button {
			width: @u * 7;
		}
	}
}


@media only screen and (min-width: 1000px) {

	footer {
		.footer-devider {
	    	float: left;
	    	width: 5%;
	    	background-color: #f00;
	    }


	    .footer-left-container {
	    	width: 55%;
	    	text-align: left;
	    }

		.footer-right-container {
	    	float: right;
	    	display: inline-block;
	    	width: 40%;

	    	img {
	    		border-radius: 50%;
	    		border: 2px solid #fff;
	    		width: @u * 3;
	    		height: @u * 3;
	    		float: left;
	    		margin: 0px @u 0px  0px;
	    	}

	    	p {
	    		line-height: @u *1.5;
	    	}
	    }

	    .centered-content{
	    	width: @u * 48;
	    }
	}

}
