/***********************************************
FORMS 
***********************************************/
.large-button {
	width: @u * 13;
	line-height: @u * 2;
	text-align: center;
	font-size: @u ;
	color: #fff;
	margin: @u / 2 auto;
	display: block;
	cursor: pointer;
}


.login-with-twitter {
	background-color: #0971B2;
}

.login-with-gmail {
	background-color: #FF5722;
}

.load-more-button {
	background-color: #efefef;
	border: 1px solid #ccc;
	color:#555;

	&:hover {
		color: @colorBlueHover;
	};
}


span.error {
	color: #e00;
}

input.error {
	border: 1px solid #e00;
	color:#e00;
}

input, select {
	width: ~"calc(100% - 30px)";
	font-size: @u * 0.8;
	line-height: @u * 2;
	display: block;
	padding: 0px @u / 2;
}

.form-link {
	font-size: 50px;
	color: @colorBlue;
	cursor: pointer;

	&:hover {
		color: @colorBlueHover;
	}
}


/***********************************************
MEDIA QUERY
***********************************************/

@media all and (min-width: 380px) {
	.large-button {
		width: @u * 15;
	}
}


@media all and (min-width: 600px) {
	.large-button {
		width: @u * 20;
		line-height: @u * 3;
		font-size: @u * 1.5;
	}

	input, select {
		font-size: @u * 1.5;
		line-height: @u * 3;
	}
}

@media all and (min-width: 600px) {
	.large-button {
		width: @u * 20;
		line-height: @u * 3;
		font-size: @u * 1.5;
	}

	input, select {
		font-size: @u * 1.5;
		line-height: @u * 3;
	}
}

@media only screen and (min-width: 1000px) {
}