/***********************************************
HEADER STUFF 
***********************************************/

header {
	background-color: #00f;
	height: @u * 3;
    padding: 0px @u / 2;
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid @colorBoderGrey;
    z-index: 10000;


	img {
		vertical-align: middle;
    	max-height: @u * 1.5;
	}

	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}


	.logo {
		font-family: 'Audiowide', cursive !important;
		display: inline-block;
		height: 42px;
		background-color: @colorRed;
		margin-top: 9px;
		cursor: pointer;
		padding-right: 4px;

		&:hover {
			background-color: @colorRedHover;
		}

		span {
			line-height: 36px;
			margin-top: 3px;
			display: inline-block;
			text-align: center;
		}

		.jc {
			font-family: 'Audiowide', cursive !important;
			color: #fff;
			width: 36px;
		}

		.text {
			font-family: 'Audiowide', cursive !important;
			color: @colorRed;
			background-color: #fff;
			display: none;

			&:hover {
				color: @colorRedHover;
			}
		}


	}


	.menu-controls {
		height: @u * 3;
		line-height: @u * 3;
		display: inline-block;
		float: right;
		margin-right: @u;
		font-size: @u ;

		a {
			font-weight: bold;
			color: @colorBlue;
			display: inline-block;
			padding: 0px 5px;

			&:hover {
				color: @colorBlueHover;
			};
		}


		.user-avatar {
			display: none;
		}
	}
}

/***********************************************
MEDIA QUERY
***********************************************/

@media all and (min-width: 380px) {

	header {
		.logo-text {
			display: inline-block !important;

			&:hover {
				color: @colorRedHover;
			};
		}

		.logo {
			.text {
				display: inline-block;
				width: 120px;
			}
		}
	}
}

@media all and (min-width: 600px) {

	header {
		.logo {
			font-size: 2 * @u * 0.7;

			.jc {
				width: 60px;
			}

			.text {
				display: inline-block;
				width: 180px;
			}
		}

		img {
			max-height: @u * 3;
		}

		.menu-controls {
			font-size: @u;

			.user-avatar {
				width: @u * 1.8;
				height: @u * 1.8;
				border: 1px solid #fff;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}
}

@media only screen and (min-width: 1000px) {
}