/***********************************************
MAIN
***********************************************/
 main {
 	border: 1px solid @colorBoderGrey;
	background-color: #fff;
	margin: @u*4 auto @u*10 auto;
	padding: @u/2;

	font-size: 80%;

	h2 {
		margin: 0px;
	}

	.faded {
		color: #999;
		font-style: oblique;
		border-bottom: 1px solid @colorBoderGrey;
	}

	.order-by-menu span {
		width: @u * 6;
		height: @u;
		line-height: @u;
		display: inline-block;
		border: 1px solid #ccc;
		margin: 0px auto;
		cursor: pointer;
		text-align: center;
		font-weight: bold;
		color: #555;
	}

	.order-by-menu span:hover {
		color: @colorBlueHover;
	}

	.order-by-menu span.selected {
		background-color: #efefef;
	}
 }


.item {
	display: block;
	border-bottom: 1px solid @colorBoderGrey;
	padding-bottom: @u;
	margin-top: @u;

	.circle {
		display: none;
	}
	
	.publisher-avatar-container {
		width: @u * 2.5;
		height: @u * 2;
		line-height: @u * 2;
		float: left;
		display: inline-block;

		img {
			width:  @u * 2;
			height: @u * 2;
			border-radius: 50%;
			display: inline-block;
			position: relative;
			top: 7px;
		}
	}

	
	p {
		color: #999;
	}

	.item-details {
		display: inline-block;
		float: left;
		width: ~"calc(100% - 110px)";
		font-size: @u * 0.8;

		a {
			line-height: @u;
			display: block;
			text-decoration: none;
			font-weight: bold;
			color: #333;

			&:hover {
				color: @colorRedHover;
			};
		}


	}

	.votes {
		height:  @u * 2;
		width:  @u * 2.5;
		line-height:  @u * 2;
		font-weight: bold;
		font-size: @u;
		color: @colorBlue;
		text-align: right;
		cursor: pointer;

		&:hover {
			color: @colorBlueHover;
		};


	}
}


/***********************************************
MEDIA QUERY
***********************************************/

@media all and (min-width: 380px) {

	main {
		margin: @u*5 auto @u*11 auto;
		padding: @u @u/2 @u @u/2;
		font-size: 100%;
	}

	.order-by-menu span {
		width: @u * 7;
		height: @u * 2;
		margin: 0px;
		line-height: @u * 2;
	}
}

@media all and (min-width: 600px) {

	main {
		padding: @u @u*1.5 @u @u*1.5;

		.order-by-menu span {
			width: @u * 8;
			height: @u * 2;
			line-height: @u * 2;
			display: inline-block;
			border: 1px solid #ccc;
			margin: 0px auto;
			cursor: pointer;
			text-align: center;
			font-weight: bold;
			color: #555;
		}

		.item {
			min-height: @u * 3;
			padding-bottom: @u * 1.5;
			margin-top: @u * 1.5;

			.item-details { 
				width: ~"calc(100% - 180px)";

				a {
					line-height: 2 * @u;
					display: block;
					text-decoration: none;
					font-size: 2 * @u * 0.7;
					color: #333;
					font-weight: normal;
				}
			}

			.votes {
				height:  @u * 3;
				width:  @u * 4;
				line-height:  @u * 3;
				font-weight: bold;
				font-size: 2 * @u * 0.7
			}

			.publisher-avatar-container {
				width: @u * 3;
				height: @u * 3;
				line-height: @u * 3;

				img {
					width:  @u * 3 * 0.8;
					height: @u * 3 * 0.8;
					border-radius: 50%;
					top: @u / 2;
				}
			}
		}
	}

}

@media only screen and (min-width: 1000px) {

	main {
		width: @u * 45;
		margin: @u*5 auto @u*10 auto;

		.item {
			.circle {
				height: @u * 3;
				line-height: @u * 3;
				display: inline-block;
				float: left;
				font-size: @u / 2;
				color: @colorRed;
				position: relative;
				right: 12px;
				top: 5px;
			}
		}
	}

}