@u : 20px;
@colorRed: #B21212;
@colorRedHover: #800000;
@colorBlue: #0971B2;
@colorBlueHover: #0860a1;
@colorBoderGrey: #E2E2E2;

@import "etc.less";
@import "header.less";
@import "main.less";
@import "forms.less";
@import "footer.less";
